body {  
  background-color: #f2f2f2;
  position: absolute;
  width: 800px;
  left: 50%; 
  margin-left: -400px;
}

#omnia {
   position: absolute;
   /*width: 100%;*/
   /*height: 100%;*/ 
   /*min-width: 100%;*/ 
   /*min-height: 100%;*/ 
   margin: 0px; 
   padding: 0px; 
}

#headr {
   position: relative;  
   background-color: #d9d9d9; 
   width: 800px; 
   margin-top: 5px; 
   border-radius: 5px; 
   margin-bottom: 10px;
   height: auto; 
   overflow: hidden;
}

#subsec {
   text-align: center; 
   font-size: 1.2em; 
   margin-top: 15px;  
   font-family: Garamond, Palatino; 
   color: black; 
}

#allbuttons {
  position: relative; 
  width: 150px; 
  height: 50px; 
  left: 315px;  
  margin-top: 25px; 
  background-color: white; 
  z-index: 100; 
}

.buttons {
  position: absolute; 
  width: 50px; 
  height: 25px;
  border-radius: 1px; 
  opacity: 0.5; 
  border: none; 
}
.buttons:hover {opacity: 1; }

#but1 {
  top: 0px; 
  left: 0px; 
  background-color: red; 
}

#but2 {
  top: 0px; 
  left: 50px; 
  background-color: yellow; 
}

#but3 {
  top: 0px; 
  left: 100px; 
  background-color: lightgreen; 
}

#but4 {
  top: 25px; 
  margin-left: 0px; 
  background-color: blue; 
}

#but5 {
  top: 25px; 
  margin-left: 50px; 
  background-color: violet; 
}

#but6 {
  top: 25px; 
  margin-left: 100px; 
  background-color: silver; 
}

#bods {
   width: 800px; 
   height: 1000px; 
   position: relative;  
   margin-top: 35px; 
   margin-bottom: 10px;  
   background-color: #d9d9d9; 
   border-radius: 5px; 
   overflow: scroll; 
}

.pcs {
  position: absolute;
}

.pcs:hover {
  opacity: 0.5;
}

#pic1 {
  /*position: absolute; */
  width: 224px; /*28% originally*/
  height: 224px; 
  left: 32px; /*4% originally*/
  top: 32px; 
  background-color: purple; 
  border-radius: 4px; 
  background-image: url("http://www.samuel-stern.info/picDir/pics/tiger.jpg"); 
  background-size: cover;
}

#pic2 {
  /*position: absolute; */
  width: 224px; 
  height: 224px; 
  left: 288px; /*36% originally*/ 
  top: 32px; 
  background-color: yellow; 
  border-radius: 4px; 
  background-image: url("http://www.samuel-stern.info/picDir/pics/toothless.jpg"); 
  background-size: cover;
}

#pic3 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 544px; /*68% originally*/ 
  top: 32px; 
  background-color: green; 
  border-radius: 4px; 
  background-image: url("http://www.samuel-stern.info/picDir/pics/still.jpg"); 
  background-size: cover;
}

#pic4 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 32px; 
  top: 288px; /*36% originally*/ 
  background-color: red; 
  border-radius: 4px;   
  background-image: url("http://www.samuel-stern.info/picDir/pics/peacock.jpg"); 
  background-size: cover;
}

#pic5 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 288px; 
  top: 288px; 
  background-color: blue; 
  border-radius: 4px; 
  background-image: url("http://www.samuel-stern.info/picDir/pics/nigihayami.jpg"); 
  background-size: cover;
}

#pic6 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 544px; 
  top: 288px; 
  background-color: skyblue; 
  border-radius: 4px;   
  background-image: url("http://www.samuel-stern.info/picDir/pics/munch.jpg"); 
  background-size: cover;
}

#pic7 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 32px; 
  top: 544px; 
  background-color: orange; 
  border-radius: 4px;   
  background-image: url("http://www.samuel-stern.info/picDir/pics/moa.jpg"); 
  background-size: cover;
}

#pic8 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 288px; 
  top: 544px; 
  background-color: yellowgreen; 
  border-radius: 4px;   
  background-image: url("http://www.samuel-stern.info/picDir/pics/cigazze.jpg"); 
  background-size: cover;
}

#pic9 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 544px; 
  top: 544px; 
  background-color: white;  
  border-radius: 4px; 
  background-image: url("http://www.samuel-stern.info/picDir/pics/rwby.jpg"); 
  background-size: cover;
}

#pic10 {
  /*position: absolute;*/ 
  width: 224px; 
  height: 224px; 
  left: 288px; 
  top: 800px; /*100% originally*/ 
  background-color: white; 
  border-radius: 4px; 
  background-image: url("http://www.samuel-stern.info/picDir/pics/buildings.jpg"); 
  background-size: cover;
}

#ultima {
  /*position: absolute;*/ 
  width: 780px; 
  height: 32px; 
  left: 0px; 
  top: 1024px; /*originally 128%*/ 
  background-color: white; 
  opacity: 0; 
  border-radius: 4px; 
}

#footr {
   position: relative; 
   background-color: #d9d9d9; 
   width: 800px; 
   height: 40px;   
   margin-top: 30px; 
   border-radius: 5px; 
}

#talk {
   position: relative; 
   background-color: #d9d9d9; 
   width: 800px; 
   height: 50px;   
   margin-top: 10px;
   border-radius: 5px;   
}

#talkstuff {
   text-align: center; 
   font-size: 1.1em; 
   margin-top: 8px; 
   padding-top: 5px;
   font-family: Garamond, Palatino; 
   color: black; 
  
}

.foot {
   text-align: center; 
   font-size: 1em; 
   font-family: Palatino; 
   color: black; 
   margin-top: 5px; 
   margin-bottom: 5px; 
}

#foot1 {
  position: absolute; 
  margin-left: 8px; 
  margin-top: 4px; 
}
#foot2 {
  width: 300px;
  position: absolute;
  margin-left: 535px; 
  margin-top: 4px;  
}

#pusher {
  position: relative; 
  margin-top: 0px;
  background-color: green;
  opacity: 0; 
  height: 10px; 
  width: 800px; 
}